<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Challenge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body class=" vh-100 w-100 container-fluid">
    <div class="d-flex w-100 bg-filter rounded flex-column justify-content-center align-items-center vh-100">
        <div class="w-50 p-5 shadow-lg flex-wrap opacity-100 h-60 bg-gray ">
            Transfer 1000 Naira to this Account:
            <p>Bank Name: OPay Digital Services Limited (OPay)</p>
            <p>Account Number: 8114797628 </p>
            <p>Name on Account: KAMSIYOCHUKWU KINGSLEY OFOMA</p>
            <div>Send reciept an email for you FSL account to:</div>
            <p>This number: 07047507813</p>
            <p>OR</p>
            <p>This email: fantasyswepleague@gmail.com</p>
            <p>Wait for a sometime before Clicking the button</p>
            <a class="btn btn-default" href="/predict"><button type="submit" class="btn btn-default">Enter Predictions</button></a>
        </div>
    </div>
</body>
</html>
