{% extends "applayout.html" %}
{% block title %} My Team {% endblock %}

{% block content %}
<div class="content h-100 bg-l pt-2 pb-2 pe-2 ps-2 w-100">
    <img class="gbthing rounded-end" src="{{ url_for('static', filename='1x/360.jpg') }}" alt="" width="35" height="70">
    <div class="m-3 d-flex flex-row">
        <img class="gbhelp bg-sec rounded" src="{{ url_for('static', filename='1x/team.png') }}" alt="" width="35" height="35">
        <header>My Team</header>
    </div>
    <div class="d-flex flex-row justify-content-around w-100 h-80">
        <div class="grn-grad rounded-top d-flex flex-column w-65 h-100">
            <table class="align-self-center text-center w-50 table">
                <thead>
                    <th scope="col">Budget Remaining</th>
                </thead>
                <tbody>
                    <tr>
                        <td id="budget-remaining">{{ remaining_budget }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pitch align-self-center d-flex flex-column justify-content-around text-center w-100 h-100">
                <div class="Goalkeeper d-flex flex-row justify-content-around align-self-center w-50 mt-5">
                    {% for player in team %}
                        {% if player.position == "Goalkeeper" %}
                            <div class="player" data-id="{{ player.id }}" data-price="{{ player.price }}">
                                <img src="{{ url_for('static', filename='1x/' + teamnames.get(player.SwepLeagueTeam_id) + 'shirt.png') }}" alt="" width="50" height="60">
                                <div>{{ player.name }}</div>
                                {%  if player.id == captain.id %}
                                <div class="fw-bolder captain">(Captain)</div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="Defender d-flex flex-row justify-content-around align-self-center w-75">
                    {% for player in team %}
                        {% if player.position == "Defender" %}
                            <div class="player" data-id="{{ player.id }}" data-price="{{ player.price }}">
                                <img src="{{ url_for('static', filename='1x/' + teamnames.get(player.SwepLeagueTeam_id) + 'shirt.png') }}" alt="" width="50" height="60">
                                <div>{{ player.name }}</div>
                                {%  if player.id == captain.id %}
                                <div class="fw-bolder captain">(Captain)</div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="Midfielder d-flex flex-row justify-content-around align-self-center w-75">
                    {% for player in team %}
                        {% if player.position == "Midfielder" %}
                            <div class="player" data-id="{{ player.id }}" data-price="{{ player.price }}">
                                <img src="{{ url_for('static', filename='1x/' + teamnames.get(player.SwepLeagueTeam_id) + 'shirt.png') }}" alt="" width="50" height="60">
                                <div>{{ player.name }}</div>
                                {%  if player.id == captain.id %}
                                <div class="fw-bolder captain">(Captain)</div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="Attacker d-flex flex-row justify-content-around align-self-center w-50">
                    {% for player in team %}
                        {% if player.position == "Attacker" %}
                            <div class="player" data-id="{{ player.id }}" data-price="{{ player.price }}">
                                <img src="{{ url_for('static', filename='1x/' + teamnames.get(player.SwepLeagueTeam_id) + 'shirt.png') }}" alt="" width="50" height="60">
                                <div>{{ player.name }}</div>
                                {%  if player.id == captain.id %}
                                <div class="fw-bolder captain">(Captain)</div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class=" w-25 h-100 overflow-auto d-flex flex-column align-items-center justify-content-around">
            <div class="text-center fs-3 border rounded w-50 bg-prim text-white btn">Change Captain</div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script>
$(document).ready(function() {
    $('.btn').click(function() {
        $(this).css('border', '100px solid purple');
        alert('Pick New Captain')
        $('.player').off('click').on('click', async function() {
            if ($(this).data('id') == '{{captain.id}}') {
                alert('You cannot choose the current captain');
                return;
            } else {
                try {
                    let response = await fetch('/change_captain?captain=' + $(this).data('id'));
                    let text = await response.text();
                    alert(text);
                    window.location.href = '/myteam';
                } catch (error) {
                    console.error('Error:', error);
                    alert('There was an error processing your request.');
                }
            }
        });
    });
});
</script>
{% endblock %}