<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleapp.css') }}">
</head>
<body class=" vh-100 w-100">
    <main class="d-flex w-100 bg-filter rounded flex-column justify-content-center align-items-center vh-100">
        <div class="w-50 p-5 shadow-lg flex-wrap opacity-100 h-60 bg-white">
            {% block form %}
            {% endblock %}
        </div>
    </main>
<script src="{{ url_for('static', filename='js/sign.js') }}"></script>
</body>
</html>